html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #313244;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
}

#content {
  flex: 1;
  margin: 0;
  padding: 0;
  width: 100%;
}

div:first-child {
  height: 7vh;
}

#etch-a-sketch {
  margin: 20px;
  padding: 0;
}

button {
  margin: 0;
  padding: 15px 30px;
  background-color: #74c7ec;
  border: none;
}

button:hover {
  background-color: #89dceb;
}

.pixel {
  box-sizing: border-box;
  border: 1px solid #585b70;
}
